=render partial:'shared/header'
#gem-search
  %form{:onsubmit => "window.location = '/gems/' + $('#rubygems', this).val(); return false"}
    %input#rubygems
    %br
    %label
      search!

#wrapper
  .info
    .flash=flash[:notice]
    = yield
